<div class="header-wrapper">
  <h1>The tractor dashboard</h1>
</div>
<div class="container-wrapper d-flex justify-content-between">
  <div class="profile-avatar">
    <% if current_user.avatar.attached? %>
    <p><%= cl_image_tag(current_user.avatar.key, class: "avatar-large", alt: "avatar-large", crop: :fill, gravity: :face) %></p>
    <% else %>
    <i class="far fa-user-circle"></i>
    <% end %>
  </div>
  <div class="current-user">
    <p>Name: <%= current_user.first_name%> <%= current_user.last_name %> </p>
    <p>Phone: <%= current_user.phone_number %></p>
    <p>Email: <%= current_user.email %></p>
  </div>
</div>

<div class="header-wrapper">
  <h3>Your current bookings</h3>
  <p>Number of bookings: <%= current_user.bookings.length %></p>
</div>
<div class="container">
  <div class="row">
  <% current_user.bookings.each do |booking| %>
    <div class="col-sm-12 col-md-6 col-lg-4 card-container-adjustments">
      <%= render "shared/card", element: booking.tractor %>
      </div>
    <% end %>
  </div>
</div>

<div class="header-wrapper">
  <h3>Your current tractors</h3>
  <p>Number of tractors listed: <%= current_user.tractors.length %></p>
</div>
<div class="container">
  <div class="row">
  <% current_user.tractors.each do |tractor| %>
    <div class="col-sm-12 col-md-6 col-lg-4 card-container-adjustments">
      <%= render "shared/card", element: tractor %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
