<div class="navbar-placeholder">
</div>

<nav class="navbar fixed-bottom navbar-light navbar-lewagon">

  <div class="navbar-icons">
    <% url = request.path_info %>
    <% if url.include?('map') || params[:id].present? || url.include?('new') %>
      <%= link_to root_path(anchor:'rd'), class: "navbar-brand navbar-icons-nomargin" do %>
        <i class="fas fa-tractor"></i>
      <% end %>
    <% else %>
      <%= link_to map_path, class: "navbar-brand navbar-icons-nomargin" do %>
        <i class="fas fa-map-marked-alt"></i>
      <% end %>
    <% end  %>
  </div>

  <div class="navbar-icons">
    <%= link_to new_tractor_path, class: "navbar-brand navbar-icons-nomargin" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="navbar-icons">
    <%= link_to user_path(current_user), class: "navbar-brand navbar-icons-nomargin" do %>
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag(current_user.avatar.key, class: "avatar", alt: "avatar", crop: :fill, gravity: :face) %>
      <% else  %>
        <i class="far fa-user-circle"></i>
      <% end %>
    <% end %>
  </div>
</nav>
