<div class="w-100 d-flex justify-content-center">
  <%= image_tag("tractorlogo.png", height: '192px', width: '200px')%>
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 form-adjustments">
      <div class="col">
        <%= simple_form_for @tractor do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :reward %>
          <%= f.input :details %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: "btn btn-primary btn-lg btn-block button-adjustments" %>
        <% end %>
        <div>
        </div>
      </div>
    </div>
  </div>
