<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-9 col-lg-6">
      <div class="card">
        <% if @tractor.photo.attached? %>
          <%= cl_image_tag(@tractor.photo.key, class:"card-img-top") %>
        <% else  %>
          <%= image_tag "https://images.unsplash.com/photo-1530267981375-f0de937f5f13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", class:"card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= @tractor.name %></h5>
          <p class="card-text"><%= @tractor.reward %>kr <br> <%= @tractor.details %></p>

          <div class="widget-content" data-unavailable="<%= @tractor.unavailable_dates.to_json %>">
            <div class="dates">
              <%= simple_form_for([@tractor, @booking]) do |f| %>
                <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
                <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
                <%= f.submit "Rent this tractor", class: "btn btn-primary btn-lg btn-block btn-booking" %>
              <% end %>
            </div>
          </div>
          <!-- link_to 'Rent this tractor', tractor_bookings_path(@tractor), method: :post, class:"btn btn-primary" -->
        </div>
      </div>
    </div>
  </div>
</div>
